
/*CSS PARA LOS FORMULARIOS*/
*{
  margin: 0px;
  padding: 0px;
}

body{
  background-image: url(Img/back1.jpg);
  /*background-size: 100vw 100vh;/*(100vw es el 100% del ancho de la ventana)*/
  background-attachment: fixed; /*No se mueve la imagen de fondo*/
  /*Margin 0*/

  font-family: monospace;
}

form{
  width: 450px;
  margin: auto;
  background: rgba(0, 0, 0, 0.5); /*0.4*/
  padding: 10px 20px;/*Vertical, horizontal*/
  box-sizing: border-box; /*padding a dentro*/
  margin-top: 20px;
  border-radius: 7px;
}

.forms{
  display: flex;
}

h2{
  color: white;
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px;
}

input, textarea{
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: none;
}

textarea{
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
  min-width: 100%;
}

#boton{
  background: #31384A;
  color: white;
  padding: 20px;
}

#boton:hover{
  cursor: pointer;
}

.losComentarios{
  box-sizing: border-box;
  margin: auto;
  margin-top: 10px;
  background: rgba(0, 0, 0, 0.5);
  width: 85%;
  border-radius: 7px;
  padding: 1%;
}

@import url('https://fonts.googleapis.com/css?family=Homemade+Apple');

.unComentario{
  background-color: #FAFAFA;
  margin-top: 20px;
  box-sizing: border-box;
  padding: 1%;
  border-radius: 10px;
}

.unComentario h4{
  margin-top: 10px;
  font-family: 'Homemade Apple', cursive;
  font-size: 18px;
}

.unComentario p{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.cTitulo{
  display: flex;
}

.cTitulo img{
  /*width: 5vw;
  height: 5vh;*/
  width: 75px;
  height: 50px;
  margin-left: 20px;
}


@media (max-width: 480px){
  form{
    width: 100%;
  }
}
